@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

header {
    color: #fff;
}

.development {
    background-color: black;

    text-align: center;

    padding: 10px;
}

.development a:hover {
    color: grey;
    text-decoration: none;

}

a {
    text-decoration: none;
    font-weight: 100;

    color: grey;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;

    text-align: center;
}

.n_box {
    margin: 20px;
}

footer {
    color: #fff;
}

.footer_extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;

    text-align: center;
}

button {
    background-color: black;

    border-radius: 10px;

    color: #fff;

    margin: 20px;

}
